@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;500;600&family=Tulpen+One&display=swap');

.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1)), url(../../assests/gym_home_new_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.home_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 80%;
    width: 100%;
}
.home_description h1 {
    color: #d17b0b;
    font-size: 50px;
    letter-spacing: 10px;
    font-weight: 700;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
    font-family: 'Tulpen One', cursive;
}
.home_description p {
    color: #fff;
    font-family: 'Caveat', cursive;
    text-align: center;
}
.home_btn {
    background: red;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.home_btn:hover {
    background: black;
    color: red;
    box-shadow: 0px 0px 5px #fff;
}
.services {
    color: #fff;
    position: absolute;
    right: 5%;
    top: 25%;
}
.services p {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background: linear-gradient(45deg, rgba(136, 6, 6, 0.5), rgba(0, 0, 0, 0.9));

}
@media (max-width:768px) {
    #home {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(../../assests/mobile_home_bg.jpg);
        background-size: cover;
        height: 50vh;
    }

    .home_description h1 {
        color: #fff;
        font-size: 25px;
        text-align: center;
    }

    .services {
        right: 30%;
    }

}